.vinyl {
  width: 22%;
  margin-right: 100px;
}

.header {
  display: flex;
  background-color: #f8ab08;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.header_text {
  margin-left: 10%;
}

/*phones only*/
@media (max-width: 650px) {
  /*Enter your css for mobile*/
  .vinyl {
    display: block;
    width: 50%;
    margin: 0px;
  }
  .header {
    background-color: #f8ab08;
    width: 100%;
  }
  .header_text {
    margin-left: 20px;
    font-size: 16px;
  }
}

@media (max-width: 900px) and (min-width: 650px) {
  /* Enter your css for mobile */
  .vinyl {
    display: block;
    width: 30%;
    margin-right: 10px;
  }
  .header {
    background-color: #f8ab08;
    width: 80%;
  }
  .header_text {
    margin-left: 20px;
    font-size: 20px;
  }
}
